<div class="wrapper">

    <app-search-filter (onSearch)="handleSearch($event)"></app-search-filter>

    <table id="tbl-container">
        <tr class="header">
            <th>Sr No</th>
            <th>Winner team &nbsp;<i class="fas fa-sort-alpha-down" (click)="handleSort('winner_team', datas)" style="font-weight: 500"></i></th>
            <th>Date &nbsp;<i class="fas fa-sort-alpha-down" (click)="handleSort('date', datas)" style="font-weight: 500"></i></th>
            <th>Type &nbsp;<i class="fas fa-sort-alpha-down" (click)="handleSort('type', datas)" style="font-weight: 500"></i></th>
            <th>Team1</th>
            <th>Team2</th>
        </tr>
            <tr *ngFor="let data of datas.slice(0, 10);let i=index;">
            <td>{{ i+1 }}</td>
            <td>{{ data.winner_team}}</td>
            <td>{{ data.date.slice(0,10) | date: 'dd-MM-yyyy' }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.team_1 }}</td>
            <td>{{ data.team_2 }}</td>
        </tr>
    </table>

    <div class="center">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
    </div>

</div>

<!-- date: "2021-01-21T00:00:00.000Z"
dateTimeGMT: "2021-01-21T02:30:00.000Z"
matchStarted: true
squad: false
team-1: "Northern Districts Women"
team-2: "Canterbury Women"
toss_winner_team: "Canterbury Women"
type: "Twenty20"
unique_id: 1234048
winner_team: "Canterbury Women" -->