/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}
.wrapper{
    width:85%;
    margin:auto
}
#search-input {
    width: 100%;
    font-size: 16px;
    padding: 12px 30px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

#tbl-container {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#tbl-container th, #tbl-container td {
    text-align: left;
    padding: 12px;
}

#tbl-container tr {
    border-bottom: 1px solid #ddd;
}

#tbl-container tr.header, #tbl-container tr:hover {
    background-color: #f1f1f1;
}

.center {
    text-align: right;
}

.pagination {
    padding: 10px;
    margin-bottom: 15px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

ul { list-style-type: none;
 }